:root{
  --orange:#DD614A;
  --coral:#F48668;
  --melon:#F4A698;
  --sage:#C5C392;
  --green:#73A580;
  --white:#ffffff;
  --black:#000000;
}

.Kerala hr{
  border: 1px solid var(--black);
  width: 70%;
  margin: 0 auto;
}

.Kerala{
  font-family: 'Dosis', sans-serif;
}

.Kerala .tripInfo{
  background-image: linear-gradient(to bottom, #dd614a, #e4735d, #ea8471, #f09584, #f4a698);
}

.Kerala .packageInfo p{
  font-size: larger;
}

.Kerala .packageInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:20px;
    font-size: 23px;
    font-weight: bolder;
  }
 
  .Kerala .tripInfo h2{
    text-align: center;
    width: 40%;
    font-size: 50px;
    color: var(--black);
    padding: 10px;
    text-decoration: underline solid var(--orange) ;
    text-decoration-thickness: 3px ;
    text-underline-offset: 8px;
    transform: rotate(-3deg) skew(-3deg);
  }

  .Kerala .timeline {
      display: flex;
      max-width: 100%;
      padding: 5px;
      font-family: 'Satisfy', cursive;
      font-size: 16px;
      line-height: 1.75;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    
      &:hover {
        .tl-item {
          width: 23.3333%;
        }
      }
    }
    
    .Kerala .tl-item {
      transform: translate3d(0, 0, 0);
      position: relative;
      width: 25%;
      height: 90vh;
      min-height: 600px;
      color: var(--sage);
      overflow: hidden;
      transition: width 0.5s ease;
      
      &:before, &:after {
        transform: translate3d(0, 0, 0);
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
      }
    
      &:after {
        background: transparentize(#031625, 0.15);
        opacity: 1;
        transition: opacity 0.5s ease;
      }
    
      &:before {
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 75%);
        z-index: 1;
        opacity: 0;
        transform: translate3d(0, 0, 0) translateY(50%);
        transition: opacity 0.5s ease, transform 0.5s ease;
      }
    
      &:hover {
        width: 100% !important;
        
        &:after {
          opacity: 0;
        }
    
        &:before {
          opacity: 1;
          transform: translate3d(0, 0, 0) translateY(0);
          transition: opacity 1s ease, transform 1s ease 0.25s;
        }
        
        .tl-content {
          opacity: 1;
          transform: translateY(0);
          transition: all 0.75s ease 0.5s;
        }
    
        .Kerala .tl-bg {
          filter: grayscale(0);
        }
      }
    }
    
    .Kerala .tl-content {
      transform: translate3d(0, 0, 0) translateY(25px);
      position: relative;
      z-index: 1;
      text-align: center;
      margin: 0 1.618em;
      top: 55%;
      opacity: 0;
      
      h1 {
        font-family: 'Dosis', sans-serif;
        text-transform: uppercase;
        color: var(--melon);
        font-size: 1.44rem;
        font-weight: normal;
      }
    }
    
    .Kerala .tl-year {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
      border-top: 1px solid var(--black);
      border-bottom: 1px solid var(--black);
      
      p {
        font-family: 'Satisfy', cursive;
        font-size: 1.728rem;
        line-height: 0;
      }
    }
    
    .Kerala .tl-bg {
      transform: translate3d(0, 0, 0);
      position: absolute;
      width: 100%; height: 100%;
      top: 0; left: 0;
      background-size: cover;
      background-position: center;
      transition: filter 0.5s ease;
      filter: grayscale(20%);
    }
  
    .Kerala .genralInfo{
      display: flex;
      flex-wrap: wrap;
      font-size: 20px;
      margin: 0px auto;
    } 
  
    .Kerala .genralInfo h2{
      font-size: 30px;
    }
  
    .Kerala .inclusions,.exclusions{
      padding: 20px 50px;
    }
  
  