*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* {

  font-family: 'Cairo Play', sans-serif;
  font-family: 'Dosis', sans-serif;
  font-family: 'Satisfy', cursive;
} */

:root{
  --orange:#DD614A;
  --coral:#F48668;
  --melon:#F4A698;
  --sage:#C5C392;
  --green:#73A580;
  --white:#ffffff;
  --black:#000000;
}